@use "../colors.scss" as colors;

$palette: (
	bg-frame: colors.$grey-3,
	bg-subtle: colors.$grey-2,
	bg-surface: colors.$grey-1,
	bg-highlight: #fafafa,
	ref: colors.$grey-5,
	deactive: colors.$grey-6,
	accent: colors.$red-2,
	accent-contrast: black,
	warning-color: colors.$red-3,
	font-color: black,
	close-btn-color: colors.$grey-7,
	tooltip-bg: colors.$grey-6,
	tooltip-font: white,
	search-highlight: colors.$yellow-1,
	search-highlight-current: colors.$yellow-3,
	hover-foreground-color: white,
	disabled-bg: colors.$grey-5,
);
