@use "../colors.scss" as colors;

$palette: (
	bg-frame: #c7c7c8,
	bg-subtle: #d6d6d7,
	bg-surface: #e5e5e6,
	bg-highlight: #f0f0f1,
	ref: #abb2bf,
	deactive: #9ca3af,
	accent: #4078f2,
	accent-contrast: white,
	warning-color: #e45649,
	font-color: #383a42,
	close-btn-color: #383a42,
	tooltip-bg: colors.$grey-6,
	tooltip-font: white,
	search-highlight: colors.$yellow-1,
	search-highlight-current: colors.$yellow-3,
	hover-foreground-color: white,
	disabled-bg: #abb2bf,
);
