@use "../colors.scss" as colors;

$palette: (
	bg-frame: #ebdbb2,
	bg-subtle: #eee8d5,
	bg-surface: #f5efdc,
	bg-highlight: #fdf6e3,
	ref: #928374,
	deactive: #a89984,
	accent: #af3a03,
	accent-contrast: white,
	warning-color: #9d0006,
	font-color: #3c3836,
	close-btn-color: #7c6f64,
	tooltip-bg: colors.$grey-6,
	tooltip-font: white,
	search-highlight: #b57614,
	search-highlight-current: #af3a03,
	hover-foreground-color: white,
	disabled-bg: #928374,
);
